
.homeScreen{
  background-color: black;
  text-align: center;
}

.myProfileBackground{
  background-color: #118ab2;
}

.header{
  display:flex;
  background-color:black;
}

.myProfile{
  height: 400px;
  max-height: 400px;
  margin-bottom: 50px;
  background-color: hsla(200,40%,30%,.4);
  background-image:       
      url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
      url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: repeat-x;
  background-position: 
      0 20%,
      0 100%,
      0 50%,
      0 100%,
      0 0;
  background-size: 
      2500px,
      800px,
      500px 200px,
      1000px,
      400px 260px;
  animation: 50s para infinite linear;
  }

@keyframes para {
  100% {
      background-position: 
          -5000px 20%,
          -800px 95%,
          500px 50%,
          1000px 100%,
          400px 0;
      }
  }



.nameHeader{
  font-family: 'Bangers', cursive;
  text-align: left;
  color: white;
  font-size: 80px;
  width: 50%;
  margin-left: 20px;
  text-shadow: 2px 2px black;
  margin-bottom: -1px;
}

.navBar{
  font-size: 20px;
  text-align: right;
  width: 50%;
  padding-bottom: 10px;
  padding-top: 25px;
  margin-right: 20px;
}



.navBarLink{
text-decoration: none;
display: inline;
color: white;
font-size: 23px;
margin: 10px;
padding-top: 10px;

}

.navBarLink a {
  text-decoration: none;
  display: inline;
  color: white;
  position: relative;
  }

  .navBarLink a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #06d6a0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    }

    .navBarLink a:hover::before {
      visibility: visible;
      transform: scaleX(1);
      }


.navBarLink a:visited{
color: white
}

.navBarLink a:hover{
  text-decoration: none;
  display: inline;
  color: #06d6a0;
  }


#githubIcon:hover{
  color: #06d6a0;
}

#mediumIcon:hover{
  color: #ef476f;
}

#linkedInIcon:hover{
  color:#118ab2;
}

#youTubeIcon:hover{
  color:#ffd166;
}

span{
  font-family: 'Bangers', cursive;
  text-shadow: 2px 2px black;
  color:white;
}

#nameProfileHeader{
  color:white;
  font-size: 40px;
  border-bottom: 2px solid white;
  margin-right: 400px;
  margin-left: 400px;
  text-shadow: 2px 2px black;
  animation: bounceIn 2s;
}

#bioProfileHeader{
  color:white;
  padding-bottom: 10px;
  text-shadow: 2px 2px black;
  font-size:70px;
  animation: bounceIn 2s;
  padding-top: 50px;
}

.infoBody{
  /* display: flex; */
  height: 600px;
}


.aboutMe{
  padding-top: 10px;
  width: 100%;
  height:650px;
  max-height: 900px;
  color:white;
  font-weight: bold;
  margin-top: 50px;
  border-radius: 10px;
}

.carouselContainer{
  height: 720px;
  display: flex;
  padding-top: 200px;
}

.imageCarousel{
  width: 50%; 
  height:cover;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
}
.carousel .slide{
  height: 350px;
}

.interestsCarousel{
  width: 50%; 
  height:100%;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

#selfieImg{
  width: 100%;
  border-radius: 10px;
  height: 100%;
  max-height: 350px;
  object-fit: cover;
}

.officeImgs{
  height:500px;
  border-radius: 10px;
}

.aboutMeParagraph{
  text-shadow: 1px 1px black;
  font-size: 17px;
  padding-bottom: 10px;
  margin-top: -20px;
  font-family: 'Bungee Inline', cursive;
  margin-left: 50px;
  margin-right: 50px;
}

#aboutMeTitle{
  color: white;
  padding-top: 150px;
  font-size: 40px;
  font-family: 'Bungee Shade', cursive;
}

.interests{
  transform: skewY(-11deg);
  padding-top: 10px;
  width: 100%;
  height:650px;
  color:white;
  background-color: #ef476f;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#interestTitle{
  font-family: 'Bungee Shade', cursive;
  padding-top: 100px;
  transform: skewY(11deg);
  font-size: 40px;
  margin-left: 30px;
  text-shadow: 1px 1px black;
}

#educationTitle{
  font-family: 'Bungee Shade', cursive;
  transform: skewY(11deg);
  font-size: 40px;
  text-shadow: 1px 1px black;
}

.interestList{ 
  transform: skewY(11deg);
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  font-size: 20px;
  text-shadow: 1px 1px black;
  list-style-type: none;
}
.interestList li{
  margin-bottom: 5px;
}

.contactMe{
  color:white;
  transform: skewY(-11deg);
  padding-bottom: 20px;;
  margin-top: 50px;
  height:300px;
  background-color: #06d6a0;
}

#contactMeTitle{
  padding-top: 100px;
  transform: skewY(11deg);
  font-size: 60px;
  text-shadow: 2px 2px black;
  color: #ffa62b;
  font-family: 'Bungee Shade', cursive;
}

#contactMeTitle:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes right_to_left_and_rotate {
  from {
      margin-right: -100%;
      transform: rotate(360deg);
  }
  to {
      margin-right: 0;
      transform: rotate(0deg)
  }
}
@keyframes left_to_right {
  from {
      margin-left: -100%;
  }
  to {
      margin-left: 0;
  }
}
  @keyframes right_to_left {
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0;
    }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#projectTitle{
  padding-top: 50px;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px #3c6e71;
  font-family: 'Bungee Shade', cursive;
  transform: skewY(11deg);

}

#youtubeDesc{
font-family: 'Bungee Inline', cursive;
text-shadow: 1px 1px black;
color:white;
font-size: 20px;
padding-bottom: 30px;
transform: skewY(11deg);
}

#DGAA{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Market365{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.videoContainer{
  padding-top: 10px;
  width:600px;
  height:400px;
  margin: auto;
  transform: skewY(11deg);
}

.Footer{
  padding-bottom: 20px;
  color:  white;
  text-align: right;
  margin-right: 10px;
  text-shadow: 2px 2px black;
}
.scrollHelper{
  transform: skewY(11deg);
}
.currentProject{
  background-color: #118ab2;
  transform: skewY(-11deg);
  height: 650px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgb,a(0, 0, 0, 0.4) 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rubberband{
  transform: skewY(11deg);
}
.currentProjectTitle{
  font-family: 'Bungee Shade', cursive;
  font-size: 40px;
  transform: skewY(11deg);
  padding-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 5px;
  color:white;
  text-shadow: 1px 1px black;
}

.currentProjectDesc{
  font-family: 'Bungee Inline', cursive;
  transform: skewY(11deg);
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 30px;
  text-shadow: 1px 1px black;
}

.deployedAppsContainer{
  width:800px;
  margin: auto;
}

.deployedApps{
  height:400px;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}

.deployedAppsTitle{
  font-family: 'Bungee Shade', cursive;
  padding-top: 150px;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px #3c6e71;
  
}

.deployedApp:hover {
    filter: brightness(120%)
  }


.deployedAppImg{
  height: 300px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myProjects{
  background-color: #ffd166;
  height:650px;
  transform: skewY(-11deg);
}

.deployedAppsDesc{
  color:white;
  text-shadow: 2px 2px black;
  padding-bottom: 50px;
  font-size: 20px;
  font-family: 'Bungee Inline', cursive;

}
.deployedAppDesc{
  font-family: 'Bungee Inline', cursive;

}

#wtwTitle{
  font-family: 'Bungee Outline', cursive;
  padding-top: 20px;
  font-size: 35px;
  color: #118ab2;

}

#if2Title{
  font-family: 'Bungee Outline', cursive;
  padding-top: 20px;
  color: #ffd166;
  font-size: 35px;

}

#ccTitle{
  font-family: 'Bungee Outline', cursive;
  padding-top: 20px;
  color: #ef476f;
  font-size: 35px;
}



.deployedAppDesc{
  color:white;
  font-size: 20px;
  padding-bottom: 60px;
}





@media only screen and (max-width: 750px) {
  .header{
    padding-top: 10px;
    display: block;
    padding-bottom: 25px;
    max-width: 400px;
  }

  .nameHeader{
    display: inline;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;
    justify-content: center;
  }
  
  .navBar{
    width:inline;
    display: flex;
    font-size: 18px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color:white; 
    text-shadow: 2px 2px black;
  }

  #nameProfileHeader{
    color:white;
    font-size: 40px;
    border-bottom: 2px solid white;
    margin-right: 1px;
    margin-left: 1px;
    text-shadow: 2px 2px black;
  
  }
  
  #bioProfileHeader{
    color:white;
    font-size: 30px;
    padding-bottom: 10px;
    text-shadow: 2px 2px black;
    margin-top: -30px;
  }


.imageCarousel{
  width: 350px;
  height:300px;
  margin:auto;
  max-height: 300px;
  margin-top: -80px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel .slide{
  max-height: 300px;
  
}
.carouselContainer{
  display: block;
  height:900px;
}

.interestsCarousel{
  width: 350px;
  height:300px;
  max-height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#selfieImg{
  width: 100%;
  border-radius: 10px;
  height: 100%;
  max-height: 300px;
}

.officeImgs{
  height:300px;
  border-radius: 10px;
}

  .infoBody{
    display: block;
    height: 100%;
  }
  
  .aboutMe{
    height:800px;
    margin-bottom: 50px;
    border-radius: 10px;

  }
  
  .aboutMeParagraph{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    padding-bottom: 10px;
  }
  
  #aboutMeTitle{
    margin-top: -100px;
    font-size: 30px;

  }
  
  .interests{
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  
  #interestTitle{
    font-size: 25px;
  }
  
  #educationTitle{
    font-size: 25px;
  }
  
  .interestList{ 
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .interestList li{
    margin-bottom: 5px;
  }

  #projectTitle{
    font-size: 30px;
    padding-top: 70px;
    text-shadow: 2px 2px black;
  }
  
  .contactMe{
    color:white;
    padding-bottom: 20px;;
  }
  
  #contactMeTitle{
    font-size: 30px;
    margin-top: 30px;
    text-shadow: 2px 2px black;
  }
  
.Footer{
    text-align: center;
}

#youtubeDesc{
  text-shadow: 1px 1px black;
  color:white;
  margin-top: -40px;
  font-size: 18px;
  }
  

  .videoContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    width:350px;
  }
  
  .currentProjectTitle{
    font-size: 30px;
    padding-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;

  }
  
  .currentProjectDesc{
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
  }

  .currentProject{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -100px;
    margin-bottom: 50px;
    border-radius: 10px;
    height:1050px;
    box-shadow: 10px 10px 10px 10px rgb,a(0, 0, 0, 0.4) 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .deployedApps{
    height:400px;
    width: 350px;
    display:block;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
  }
  
  .deployedAppsTitle{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    text-shadow: 2px 2px black;
  }
  .deployedAppsContainer{
    padding-top: 100px;
    max-width: 350px;

  }
  .deployedApp{
    height: 600px;
    border: 1px solid lighten(black, 10);
    transition: all 300ms ease-in-out;  
    color:white;
    text-shadow: 2px 2px black;
  } 
  .deployedAppImg{
    height: 300px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .deployedAppsDesc{
    color:white;
    text-shadow: 2px 2px black;
    padding-bottom: 20px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }


#wtwTitle{
  font-family: 'Bungee Outline', cursive;
  padding-top: 20px;
  font-size: 30px;
  color: #118ab2;

}

#if2Title{
  font-family: 'Bungee Outline', cursive;
  padding-top: 20px;
  color: #ffd166;
  font-size: 25px;

}

#ccTitle{
  font-family: 'Bungee Outline', cursive;
  padding-top: 20px;
  color: #ef476f;
  font-size: 30px;
}
}