.app{
  text-align: center;
  background-color: black;
}
  /* background:linear-gradient(-45deg, #264653,gray,whitesmoke ,black);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite; 
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */

.myProfileBackground{
  background-color:	#1E90FF;
}
.header{
  display:flex;
  background-color:black;
  padding-top: 10px;
  
}

.myProfile{
  height: 400px;
  max-height: 400px;
  margin-bottom: 300px;
  background-color: hsla(200,40%,30%,.4);
  background-image:       
      url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
      url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: repeat-x;
  background-position: 
      0 20%,
      0 100%,
      0 50%,
      0 100%,
      0 0;
  background-size: 
      2500px,
      800px,
      500px 200px,
      1000px,
      400px 260px;
  animation: 50s para infinite linear;
  }

@keyframes para {
  100% {
      background-position: 
          -5000px 20%,
          -800px 95%,
          500px 50%,
          1000px 100%,
          400px 0;
      }
  }



.nameHeader{
  text-align: left;
  color: white;
  font-size: 70px;
  width: 50%;
  margin-left: 20px;
  text-shadow: 2px 2px black;
  margin-bottom: -1px;
  animation: left_to_right 2s ease;
}

.navBar{
  font-size: 20px;
  text-align: right;
  width: 50%;
  margin-bottom: -1px;
  color:white; 
  margin-top: 10px;
  margin-right: 20px;
  text-shadow: 2px 2px black;
  
}

#nameProfileHeader{
  color:white;
  font-size: 40px;
  border-bottom: 2px solid white;
  margin-right: 400px;
  margin-left: 400px;
  text-shadow: 2px 2px black;
  animation: bounceIn 2s;
}

#bioProfileHeader{
  color:white;
  padding-bottom: 10px;
  text-shadow: 2px 2px black;
  font-size:70px;
  animation: bounceIn 2s;
  padding-top: 50px;
}

.infoBody{
  display: flex;
  height: 600px;
}


.aboutMe{
  padding-top: 10px;
  width: 50%;
  height:100%;
  max-height: 900px;
  color:white;
  background-color: #ffa62b;
  font-weight: bold;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageCarousel{
  width: 50%; 
  height:100%;
  max-height: 500px;
  margin-right: 50px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel .slide{
  max-height: 500px;
  
}

.interestsCarousel{
  width: 50%; 
  height:100%;
  max-height: 500px;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#selfieImg{
  width: 100%;
  border-radius: 10px;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}

.officeImgs{
  height:500px;
  border-radius: 10px;
}

.aboutMeParagraph{
  margin-left: 50px;
  margin-right: 50px;
  text-shadow: 1px 1px black;
  font-size: 17px;
  text-align: left;
  padding-bottom: 10px;
  margin-top: -20px;
  height:100%;
}

#aboutMeTitle{
  border-bottom: 2px solid #3c6e71;
  margin-left: 100px;
  margin-right: 100px;
  color: #3c6e71;
  font-size: 40px;
  text-shadow: 1px 1px white;
}

.interests{
  padding-top: 10px;
  width: 50%;
  height:100%;
  max-height: 500px;
  color:white;
  background-color: #ffa62b;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#interestTitle{
  border-bottom: 2px solid #3c6e71;;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 40px;
  color: #3c6e71;
  text-shadow: 1px 1px white;
}

#educationTitle{
  border-bottom: 2px solid #3c6e71;
  margin-left: 120px;
  margin-right: 120px;
  font-size: 40px;
  color: #3c6e71;
  text-shadow: 1px 1px white;
}

.interestList{ 
  text-align: left;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 17px;
  text-shadow: 1px 1px black;
}
.interestList li{
  margin-bottom: 5px;
}

.contactMe{
  color:white;
  margin-right: 300px;
  margin-left: 300px;
  padding-bottom: 20px;;
}

#contactMeTitle{
  font-size: 50px;
  margin-left: 150px;
  margin-right: 150px;
  text-shadow: 2px 2px black;
  color: #ffa62b;
}
a:visited{
  color:white;
}
a{
  color:white;
}
a:hover{
  color: #ffa62b;
}
#contactMeTitle:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes right_to_left_and_rotate {
  from {
      margin-right: -100%;
      transform: rotate(360deg);
  }
  to {
      margin-right: 0;
      transform: rotate(0deg)
  }
}
@keyframes left_to_right {
  from {
      margin-left: -100%;
  }
  to {
      margin-left: 0;
  }
}
  @keyframes right_to_left {
    from {
        margin-right: -100%;
    }
    to {
        margin-right: 0;
    }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#projectTitle{
  border-bottom: 2px solid #ffa62b;
  margin-left: 450px;
  margin-right: 450px;
  padding-top: 20px;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px #3c6e71;
}

#youtubeDesc{
text-shadow: 1px 1px black;
color:white;
font-size: 20px;
padding-bottom: 30px;
}

#DGAA{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Market365{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.videoContainer{
  padding-top: 10px;
  width:700px;
  margin: auto;

}

.Footer{
  padding-top: 10px;
  color:  white;
  text-align: right;
  margin-right: 10px;
  text-shadow: 2px 2px black;
}

.currentProject{
  background-color: #ffa62b;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgb,a(0, 0, 0, 0.4) 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.currentProjectTitle{
  font-size: 40px;
  border-bottom: 2px solid #3c6e71;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 5px;
  color:#3c6e71;
  text-shadow: 1px 1px white;
}

.currentProjectDesc{
  color: white;
  font-weight: bold;
  font-size: 17px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 30px;
  text-shadow: 1px 1px black;
}

.deployedAppsContainer{
  width:800px;
  margin: auto;
}

.deployedApps{
  height:400px;
  width: 100%;
  display:flex;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
}

.deployedAppsTitle{
  border-bottom: 2px solid #ffa62b;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px #3c6e71;
  
}

.deployedApp:hover {
    filter: brightness(120%)
  }


.deployedAppImg{
  height: 300px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deployedAppsDesc{
  color:white;
  text-shadow: 2px 2px black;
  padding-bottom: 20px;
  font-size: 20px;
}

#wtwTitle{
  padding-top: 20px;
  font-size: 35px;
  color: #fff;
  -webkit-animation: glow1 1s ease-in-out infinite alternate;
  -moz-animation: glow1 1s ease-in-out infinite alternate;
  animation: glow1 1s ease-in-out infinite alternate;
}

#if2Title{
  padding-top: 20px;
  color: #fff;
  font-size: 35px;
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
}

#ccTitle{
  padding-top: 20px;
  color: #fff;
  font-size: 35px;
  -webkit-animation: glow3 1s ease-in-out infinite alternate;
  -moz-animation: glow3 1s ease-in-out infinite alternate;
  animation: glow3 1s ease-in-out infinite alternate;
}

@keyframes glow1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2300e6, 0 0 40px #2300e6, 0 0 50px #2300e6, 0 0 60px #2300e6, 0 0 70px #2300e6;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 30px #4dffd8, 0 0 40px #4dffd8, 0 0 50px #4dffd8, 0 0 60px #4dffd8, 0 0 70px #4dffd8, 0 0 80px #4dffd8;
  }
}
@keyframes glow2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e69d00, 0 0 40px #e69d00, 0 0 50px #e69d00, 0 0 60px #e69d00, 0 0 70px #e69d00;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4df0, 0 0 40px #ff4df0, 0 0 50px #ff4df0, 0 0 60px #ff4df0, 0 0 70px #ff4df0, 0 0 80px #ff4df0;
  }
}
@keyframes glow3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b000e6, 0 0 40px #b000e6, 0 0 50px #b000e6, 0 0 60px #b000e6, 0 0 70px #b000e6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4df0, 0 0 40px #ff4df0, 0 0 50px #ff4df0, 0 0 60px #ff4df0, 0 0 70px #ff4df0, 0 0 80px #ff4df0;
  }
}

.deployedAppDesc{
  color:white;
  font-size: 20px;
  padding-bottom: 60px;
}


@media only screen and (max-width: 750px) {
  .header{
    padding-top: 10px;
    display: block;
    padding-bottom: 25px;
    max-width: 400px;
  }

  .nameHeader{
    display: inline;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px black;
    justify-content: center;
  }
  
  .navBar{
    width:inline;
    display: flex;
    font-size: 18px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color:white; 
    text-shadow: 2px 2px black;
  }

  #nameProfileHeader{
    color:white;
    font-size: 40px;
    border-bottom: 2px solid white;
    margin-right: 1px;
    margin-left: 1px;
    text-shadow: 2px 2px black;
  
  }
  
  #bioProfileHeader{
    color:white;
    font-size: 30px;
    padding-bottom: 10px;
    text-shadow: 2px 2px black;
    margin-top: -30px;
  }


.imageCarousel{
  width: 350px;
  height:300px;
  margin:auto;
  max-height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel .slide{
  max-height: 300px;
  
}

.interestsCarousel{
  width: 350px;
  height:300px;
  max-height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#selfieImg{
  width: 100%;
  border-radius: 10px;
  height: 100%;
  max-height: 300px;
}

.officeImgs{
  height:300px;
  border-radius: 10px;
}

  .infoBody{
    display: block;
    height: 100%;
  }
  
  .aboutMe{
    padding-top: 20px;
    font-weight: bold;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height:550px;
    background-color: #ffa62b;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;

  }
  
  .aboutMeParagraph{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
  }
  
  #aboutMeTitle{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
  }
  
  .interests{
    width: 100%;
    background-color: #ffa62b;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  #interestTitle{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
  }
  
  #educationTitle{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
  }
  
  .interestList{ 
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 15px;
    padding-bottom: 10px;
  }
  .interestList li{
    margin-bottom: 5px;
  }

  #projectTitle{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    text-shadow: 2px 2px black;
  }
  
  .contactMe{
    color:white;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;;
  }
  
  #contactMeTitle{
    font-size: 30px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 2px 2px black;
  }
  
.Footer{
    text-align: center;
}

#youtubeDesc{
  text-shadow: 1px 1px black;
  color:white;
  padding-bottom: 10px;
  font-size: 13px;
  text-align: center;
  }
  
  #DGAA{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #Market365{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .videoContainer{
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
  }
  
  .currentProjectTitle{
    font-size: 30px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;

  }
  
  .currentProjectDesc{
    font-weight: bold;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
  }

  .currentProject{
    background-color: #ffa62b;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -130px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgb,a(0, 0, 0, 0.4) 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .deployedApps{
    height:400px;
    width: 350px;
    display:block;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
  }
  
  .deployedAppsTitle{
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    text-shadow: 2px 2px black;
  }
  .deployedAppsContainer{
    max-width: 350px;

  }
  .deployedApp{
    height: 600px;
    border: 1px solid lighten(black, 10);
    transition: all 300ms ease-in-out;  
    color:white;
    text-shadow: 2px 2px black;
  } 
  .deployedAppImg{
    height: 300px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .deployedAppsDesc{
    color:white;
    text-shadow: 2px 2px black;
    padding-bottom: 20px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}